:root {
    --mob-width:360px;

    --nav-bg:#FFC857;
    --nav-bg-mob:#FFFFFF4D;
    --nav-nav-bh:#323031;
    --nav-br:#0000001A;

    --nav-font-size: 10px;
    --nav-font-size-desk: 10px;

    --font-color:#000000;
}
* {
    box-sizing: border-box;
}
.row {
    display: flex;
}
img {
    display: block;
}
body {
    font-family: vazirmatn;
    background-color:var(--nav-nav-bh);
    margin: 0;
}
#header {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    background-color: var(--nav-bg);
    border: 1px solid var(--nav-br);
    padding-top: 3px;
    padding-bottom: 3px;
    position: sticky;
    top: 0;
}
.container {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

#nav {
    position: sticky;
    top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    background-color: var(--nav-bg);
    border: 1px solid var(--nav-bg);
}
#nav nav ul {
    list-style: none;
    padding-right: 0;
}
#nav nav ul {
    overflow-x: scroll;
    display:flex ;
    gap: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

}
#nav nav ul li a {
    text-decoration: none;
    color: var(--font-color);
}
#nav nav a figure {
    width: 60px;
    margin: 0;
    text-align: center;
    padding: 6px;
    background-color: var(--nav-bg-mob);
    border-radius: 6px;
    font-size: var(--nav-font-size);
}
#nav nav a figure img {
    margin-left: auto;
    margin-right: auto;
}
#nav nav a figure figcaption {
    margin-top: 6px;
}
#menu {
    height: 200vh;
    background-color: green;
}
@media (width>=1000px) {
    #menu {
        width: 800px;
    }
    .container {
        width: 1000px;
        display: flex;
        align-items: start;
    }
    #nav {
        width: 200px;
        padding: 24px;
        background-color: var(--nav-nav-bh);
        border: none;
        top: 262px;
    }
    #nav nav ul {
        overflow: auto;
        flex-direction: column;
        gap: 12px;
        
    }
    #nav nav a {    
        border-radius: 6px;
    }
    #nav nav a figure {
        padding: 12px;
        background-color: var(--nav-bg);
        display: flex;
        gap: 12px;
        width: 100%;
        font-size: var(--nav-font-size-desk);
        align-items: center;
    }
    #nav nav a figure img {
        width: 24px;
        height: 24px;
    }
    #nav nav a figure figcaption {
        text-align: right;
        flex-grow: 1;
        margin-top: auto;
        margin-bottom: auto;
    }
}